@import 'tailwindcss'; /* Для всего проекта */

:root {
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
}



 @font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/ofont.ru_MV-crooker.ttf');
  font-weight: 300;
  font-style: normal;
  
}

body {  /* Фон и цвет текста по умолчанию */
  background-color: #f5f5f5;
  color: #171717;
}


  html {
    font-family: 'MyFont', sans-serif;
  }

